<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        {{#foreach navigation}}
            <li><a class="{{#if current}}active{{/if}}" href="{{url absolute="true"}}">{{slug}}</a></li>
        {{/foreach}}
    </ul>
</div>